<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App需要蓝牙权限来连接蓝牙设备，关闭此权限将无法正常连接蓝牙设备。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要蓝牙权限来连接蓝牙设备，关闭此权限将无法正常连接蓝牙设备。</string>
</dict>
</plist>
